.profile {
  text-align: center;
  width: 300px;
  background-color: blanchedalmond;
  border: 2px solid blueviolet;
  margin: 50px auto 10px auto;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
.description {
  background-color: rgba(rgb(0, 255, 179), rgb(0, 128, 96), rgb(0, 238, 255));
  border-radius: 15px;
}
.stats {
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  height: 100px;
}
.avatar {
  width: 150px;
  border-radius: 100px;
  border: 1px solid blueviolet;
  padding: 5px;
}
.item {
  width: 100px;
  border-right: 2px solid rgba(64, 58, 58, 0.4);
  border-top: 2px solid rgba(64, 58, 58, 0.4);
  display: flex;
  flex-direction: column;
  background-color: rgba(27, 123, 233, 0.3);
  border-radius: 15px;
  justify-content: center;
  margin-left: 5px;
  opacity: 0.7;
}
.item:last-child {
  border-right: none;
}
tag {
  color: rgba(64, 58, 58, 0.6);
}
.quantity {
  margin-top: 10px;
  font-weight: 500;
}
.label {
  color: rgba(54, 43, 43, 0.5);
}
.location {
  color: rgba(54, 43, 43, 0.5);
}
